<!-- barre recherche film -->
<form [formGroup]="searchForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label> Film</mat-label>
        <input 
        matInput 
        type="search"
        placeholder="Ex. Joker" 
        formControlName="searchTerm"
        (ngModelChange)="reload()"
        >
    </mat-form-field>
    <!-- boutton recherche film -->
    <button class="example-button-row" 
    mat-button color="primary"
    (click)="doSearch()"
    [disabled]="searchForm.invalid"
    > Search...</button>
</form>