.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.example-spacer {
    //margin: left;
    //white-space:
    padding: 20px;
}

#titre {
    font-size: 50px;
    letter-spacing: .25rem;
    color: rgb(255,48,14);
    text-align: center;

}
#soustitre {
    font-size: 25px;
    letter-spacing: .15rem;
    color: rgb(78, 14, 255);
    text-align: center;
       
}

#details {
    position: absolute;
    bottom: 5px;
    left: 10px;
    height: 20px;
}
#like {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: inline-block;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    
    &:hover {
        cursor: pointer;
    }
    
}